.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.projectImage {
    border-radius: 15px;
}

.projectDetails {
    font-size: 1.5rem;
}

.firstItem {
    margin-top: 0;
}